body {
  margin-top: 10px;
  margin-left: 10px;
}

select.form-control {
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  height: 50%;
  width: 80%;
}

.vertical-center {
  display: flex;
  align-items: center;
}
